#account-options {
    border: 0.063rem solid var(--sky-blue);
    border-radius: 0.875rem;
    height: 8.813rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 17.875rem;
    padding: 0.875rem 1.063rem;
    width: 90%;
}

.account-buttons {
    font-weight: 500;
    font-size: 0.85rem;
    width: 100%;
    color: var(--dark-blue);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.875rem;
    cursor: pointer;
}

.account-buttons::after {
    content: "";
    transform: rotate(-45deg);
    width: 0.375rem;
    aspect-ratio: 1;
    right: 0;
    border-bottom: 0.15rem solid var(--dark-blue);
    border-right: 0.15rem solid var(--dark-blue);
    transition: all 0.3s ease;
}

#log-out {
    color: #FF4444;
    font-size:0.813rem;
    font-weight:400;
    cursor: pointer;
}