:root {
    --white: #FBFBFE;
    --white-75: rgba(251, 251, 254, 0.75);
    --white-50: rgba(251, 251, 254, 0.5);
    --white-25: rgba(251, 251, 254, 0.25);
    --white-10: rgba(251, 251, 254, 0.1);
    
    --sky-blue: #7BCEF8;
    --sky-blue-75: rgba(123, 206, 248, 0.75);
    --sky-blue-50: rgba(123, 206, 248, 0.5);
    --sky-blue-25: rgba(123, 206, 248, 0.25);
    --sky-blue-10: rgba(123, 206, 248, 0.1);
    
    --bright-blue: #00A6FB;
    --bright-blue-75: rgba(0, 166, 251, 0.75);
    --bright-blue-50: rgba(0, 166, 251, 0.5);
    --bright-blue-25: rgba(0, 166, 251, 0.25);
    --bright-blue-10: rgba(0, 166, 251, 0.1);
    
    --dark-blue: #0D608B;
    --dark-blue-75: rgba(13, 96, 139, 0.75);
    --dark-blue-50: rgba(13, 96, 139, 0.5);
    --dark-blue-25: rgba(13, 96, 139, 0.25);
    --dark-blue-10: rgba(13, 96, 139, 0.1);
    
    --black: #1A1A1A;
    --black-75: rgba(26, 26, 26, 0.75);
    --black-50: rgba(26, 26, 26, 0.5);
    --black-25: rgba(26, 26, 26, 0.25);
    --black-10: rgba(26, 26, 26, 0.1);
}

body {
    background-color: var(--white);
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    background: none;
    color: none;
}

*::-webkit-scrollbar {
    width: 0rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (prefers-reduced-motion) {
    * {
        transition-duration: 0;
        animation-duration: 0;
        -o-animation-duration: 0;
        -o-transition-duration: 0;
        -moz-animation-duration: 0;
        -moz-transition-duration: 0;
        -webkit-animation-duration: 0;
        -webkit-transition-duration: 0;
    }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote,
pre,
dl,
dd {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button,
textarea,
select {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
}

div,
span,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    margin: 0;
    padding: 0;
}

button:focus,
button:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
