header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 5rem;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#luxor-logo {
    height: 3.5rem;
    aspect-ratio: 281 / 126;
    fill: var(--bright-blue);
    filter: drop-shadow(0 0 0.8rem var(--black-10));
}

#luxor-logo, #luxor-logo path {
    cursor: pointer;
}