#luxor-logo {
    position: fixed;
    top:1.5rem;
    height: 3.5rem;
    aspect-ratio: 281 / 126;
    fill: var(--bright-blue);
    filter: drop-shadow(0 0 0.8rem var(--black-10));
}

#luxor-logo, #luxor-logo path {
    cursor: pointer;
}