#my-flights-container {
    width: 100%;
    max-width: 600px;
    position: relative;
}

#history-options {
    display: flex;
    height: 2.5rem;
}

.history-button {
    width: calc(100%/2);
    color: var(--bright-blue);
    z-index: 100;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    padding: 0.6rem 0 0.5rem 0;
    cursor: pointer;
    border-bottom: 0.1rem solid var(--bright-blue);
    transition: all 0.3s ease;
}

#highlighted-history {
    width: calc(100%/2);
    position: absolute;
    background-color: var(--bright-blue);
    height: 2.5rem;
    transition: all 0.3s ease;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.flight-card {
    width: 100%;
    min-height: 145px;
    margin-top: 15px;
    border: 1px solid var(--sky-blue);
    border-radius: 20px;
    padding: 21px;
    background-image: url(/resources/css/css-media/fbfbfe.png);
    background-position: center;
    background-size: 125% ;
    transition: 0.5s all ease;
    cursor: pointer;
    > * * {
        cursor: pointer; 
        color: var(--dark-blue);
        transition: 0.5s all ease;
    }

    > * {
        cursor: pointer; 
        color: var(--dark-blue);
        transition: 0.5s all ease;
    }

    hr {
        border: 1px solid var(--dark-blue);
        transition: 0.5s all ease;
    }

    svg {
        transition: none;
        fill: var(--dark-blue);
    }
}

.flight-card:hover {
    background-image: url(/resources/css/css-media/new-york.png);
    box-shadow:
    0 0 1.4rem var(--black-50),
    0 0 6.9rem var(--black-25),
    0 0 9.6rem var(--black-10);
    border: 1px solid var(--dark-blue);
    background-size: 100% ;
    
    > * * {
        color: var(--white); 
    }

    > * {
        color: var(--white); 
    }

    hr {
        border: 1px solid var(--white);
    }

    svg {
        fill: var(--white);
    }
}

.flight-card svg {
    width: 20px;
}

.half {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flight-card .half:first-of-type {
    padding-bottom: 14px;
}

.flight-card .half:last-of-type {
    padding-top: 14px;
}

.flight-card .half div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.flight-card .half:first-of-type div:last-of-type {
    text-align: right;
}

.iata {
    font-weight: 600;
    font-size: 24px;
}

.iata-city, .chosen-route {
    font-weight: 500;
    font-size: 14px;
}

.chosen-date-time, .chosen-quantity {
    font-weight: 500;
    font-size: 10px;
}

#upcoming, #previous {
    width: 100%;
}

#previous {
    display: none;
}

.reorder {
    width: 4.5rem;
    background-color:var(--bright-blue);
    height: 1.5rem;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-weight: 500;
    color: var(--white);
    box-shadow: 0px 0px 2px var(--sky-blue) inset;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}